* {
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

html,body {
  height: 1007;
}

video {
  position: abolsute;
  width: 100%;
  height: auto;
  transform: translateX(-50%) translateY(-50%) translateZ(-1px) scale(2);
  z-index: -99;  
}

.v-header {
  width: 100%;
  height: auto;
}
