body,html {
  height: 95vh;
  width: 95vw;
  text-align: center;
}



.environment-container {
  position: relative;
  background-color:lightgrey;
  max-width: 100%;
  max-height: 100%;
}

.triangle {
  display: inline-block;
  /* background-color: darkblue; */
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom: 20% solid rgb(0, 139, 127);
  border-left: 60% solid transparent;
  z-index: 10;
}

.triangle2 {
  position: absolute;
  bottom:0;
  left: 0;
  border-bottom: 10% solid rgb(0, 128, 79, 0.75);
  border-right: 50% solid transparent;
}

.environment-container img {
  max-width: 100%;
  max-height: 100%;
  opacity: 0.7;
  background-size: contain;
}




